<launch>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find hexapod_javi_sim)/urdf/javi.urdf.xacro'"/>

    <!-- send joint values 
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="false"/>
    -->
    <!-- send joint values gui
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
        <param name="use_gui" value="true"/>
    </node>
    -->
    
    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    </node>

    <!-- Show in Rviz   -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hexapod_javi_sim)/launch/config.rviz"/>

</launch>